@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Lato&display=swap");

@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --color-primary: #ff4d4d;
  --color-primary-hover: #e04343;
  --color-surface: #e5e5e5;
  --color-custom-black: #030303;
}

@layer utilities {
  .container {
    @apply w-full max-w-screen-2xl mx-auto px-4 sm:px-6 lg:px-8;
  }
  .text-gradient {
    @apply bg-gradient-to-r from-primary to-pink-400 bg-clip-text text-transparent;
  }
  .wrapper {
    @apply flex flex-col min-h-screen;
  }
}

@layer components {
  .inset-button {
    @apply px-7 py-2 text-sm rounded text-white;
    box-shadow: inset 0 0 0 1px var(--color-primary);
  }
}

@layer base {
  body {
    @apply font-roboto;
  }
}
